.label{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    font-size:24px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(1,1,1,1);
    line-height:70px;
    padding-top: 49px;
    padding-right: 30px;
}