{
  "extends": "eslint-config-egg",
  "rules": {
    "editor.formatOnSave": true,
    "newline-after-var": ["error", "never"],
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }],
    "space-before-blocks": "off",
    "object-curly-spacing": "off",
    "no-var": "off",
    "prefer-const": "off" //去除强制转 const  声明变量
    // "arrow-parens": ["never", "nevver"]
  }
}
