@import "~taro-ui/dist/style/index.scss";
@import './assets/css/base.scss';

.item-extra__icon-arrow {
  font-size: 36px !important;
}

.at-list__item {
  &::after {
    left: 0 !important;
  }
}

page {
  height: 100%;
}

.submit-btn {
  width: 250px !important;
  border: none !important;
  background: linear-gradient(45deg, $base-color 90%, #fff);
}

.at-input {
  margin-left: 0;
  padding: 16px;
}
